* {
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1b4c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* Common */
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  min-width: 98px;
  border-radius: 12px;
  background: var(--primary-color);
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 18px 16px;
}
.btn:hover {
  opacity: 0.9;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Header */

.header {
  position: relative;
  background: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}
.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .action {
  margin-left: auto;
}

.navbar ul a {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}
.navbar .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero {
  margin-top: 130px;
}
.hero .info {
  width: 51%;
}
.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.018rem;
  line-height: 1.5;
}
.hero .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19;
}
.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
}

.hero-cta {
  min-width: 170px;
  margin-top: 40px;
}
.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}
/* Client */
.client {
  margin-top: 79px;
  padding-top: 43px 0 64px;
}
.client .row {
  display: flex;
  justify-content: space-between;
}
.client .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
}
.client .row-desc {
  margin-top: 23px;
}
.client .images {
  display: flex;
  margin-top: 96px;
  justify-content: space-between;
  align-items: center;
}

/* Guides */
.guide {
  margin-top: 40px;
  margin: 93px 0 79px;
}

.guide .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}
.guide .sub-title::before {
  top: -10px;
  position: absolute;
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
  left: 50%;
  transform: translateX(-50%);
}
.guide .desc {
  margin: 20px auto 0;
  max-width: 100%;
  width: 459px;
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
}
.list-guide {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.guide-item {
  margin: 0 70px;
  text-align: center;
}
.guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 500;
}
.guide-item .link {
  display: inline-block;
  margin-top: 10px;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
}
.guide-item .arrow {
  margin-left: 6px;
}
.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.guide-cta .btn {
  min-width: 170px;
}
/* features */
.feature {
  margin-top: 41px;
  padding: 110px 0;
  background: #f5fafe;
}
.feature .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}
.feature .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.feature .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}
.feature .link {
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}
.feature .link .arrow {
  margin-left: 8px;
}

.feature .list {
  display: flex;
  margin-top: 70px;
  gap: 30px;
}
.feature .item {
  flex: 1;
  background: #fff;
  border-radius: 12px;
}
.feature .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.feature .item .body {
  padding: 17px 20px 24px;
}
.feature .item .title a {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.feature .item .desc {
  --line-clamp: 3;
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  word-break: break-all;
}
.feature .item .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}
.feature .item .label {
  margin-left: 8px;
  color: #4d4d52;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.14px;
}
.feature .item .icon:first-child {
  margin-left: 0;
}
.feature .item .icon {
  margin-left: 23px;
}
/* stat */
.stat {
  margin-top: 75px;
  padding: 50px 0;
}
.stat .content {
  width: 1048px;
}
.stat .row {
  display: flex;
}
.stat .img-block,
.stat .info {
  width: 50%;
}
.stat .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}
.stat .info {
  padding: 79px 0 0 165px;
}

.stat .sub-title::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  display: block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}
.stat .sub-title {
  position: relative;
  width: 269px;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.3;
}
.stat .info .desc {
  width: 309px;
  margin-top: 20px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.stat-trend {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  border-radius: 0 0 12px 12px;
  padding: 45px 22px 40px;
  background: #fff;
}

.stat .img-block {
  position: relative;
}
.stat-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.26px;
}
.stat-trend .icon {
  margin-left: auto;
}
.stat-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}
.stat-trend .separate {
  height: 1.2px;
  margin-top: 25px;
  background: #e9e9e9;
}
.stat .avatar-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
  gap: 16px 14px;
}
.stat .avatar-group {
  display: flex;
}
.stat .avatar:first-child {
  margin-left: 0;
}
.stat .avatar {
  display: flex;
  align-items: center;
  width: 16px;
  justify-content: center;
  height: 16px;
  margin-left: -3px;
  object-fit: cover;
  border-radius: 50%;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 450;
  letter-spacing: -0.02px;
  background-color: var(--bg-color, #fff);
}

.stat .avatar-1 {
  --bg-color: #1f3bb1;
}
.stat .avatar-2 {
  --bg-color: #f8c120;
}
.stat .avatar-3 {
  --bg-color: #73a242;
}
.stat .avatar-4 {
  --bg-color: #24d6d9;
}
.stat .avatar-5 {
  --bg-color: #f97f6b;
}

.stat .row-qty {
  padding: 0 32px;
  justify-content: space-between;
  margin-top: 110px;
}
.stat .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
}
.stat .qty-desc {
  margin-top: 20px;
  color: #7b8087;
  font-size: 18px;
  font-weight: 500;
}
/* subscription */
.subscription {
  margin-top: 90px;
}
.subscription .body {
  position: relative;
  display: flex;
  align-items: center;
  height: 370px;
  border-radius: 20px;
  background: #063183;
}
.subscription .info {
  max-width: 100%;
  width: 670px;
  padding: 0 80px;
}
.subscription .sub-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
}
.subscription .desc {
  margin-top: 15px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
  opacity: 0.75;
}
.subscription .btn {
  min-width: 151px;
  background-color: #fff;
  margin-top: 20px;
  color: #002366;
  font-size: 1.3rem;
}
.subscription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}
/* Footer */
.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}
.footer .row {
  display: flex;
}
.footer .row-top {
  gap: 185px;
}
.footer .heading {
  color: #1c1c1d;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.footer .list,
.footer .desc {
  margin-top: 42px;
}
.footer .item {
  margin-top: 18px;
}
.footer .item a,
.footer .desc {
  white-space: nowrap;
  color: #7a7a7e;
  font-size: 16px;
  font-weight: 400;
}
.footer .desc {
  white-space: normal;
  line-height: 1.75;
}
.footer .social {
  display: flex;
  margin-top: 40px;
}
.footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}
.footer .social-link + .social-link {
  margin-left: 16px;
}
.footer .social-link:hover {
  background: #ccc;
}
.footer .row-bottom {
  margin-top: 81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .copyright {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-weight: 400;
}
